.alignleft {
    float: left;
}

.alignright {
    float: right;
}

img {
    max-width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 20px;
}

body {
    background-color: #f5f5f5;
    color: #3e474b;
    font-size: 14px;
    line-height: 1.42857;
    text-rendering: geometricprecision;
}

.title, .archive-title {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #ff6f00;
    margin-top: 0;
    padding: 7px 15px;
    color: #ff6f00;
    font-size: 16px;
}

.post-title, .post-title a, .title, .title a {
    text-align: justify;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
}

.main-sidebar .flex-direction-nav a {
    top: 33%;
}

a.post-thumbnail {
    display: block;
    overflow: hidden;
}

.main-page a {
    color: #ff6f00;
}


/** Custom menu bootraps **/


/* -------------------------------- |*/


/* START MENU
/* ---------------------------------| */

nav ul.main-menu {
    padding: 0;
    margin: 0;
}

.menu-main {
    border-bottom: 1px solid #eb911f;
}

nav ul.main-menu li {
    list-style: none;
    display: inline-block;
}

.menu-main .menu-main-menu-container li a {
    background-color: transparent !important;
    border-right: 1px solid #ebeef2;
    color: #353d41;
    display: block;
    font-weight: 400;
    padding: 15px 30px;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}

.menu-main .menu-main-menu-container li a:hover, .menu-main li.current-menu-item a {
    color: #eb911f;
}


/* -------------------------------- |*/


/* END MENU
/* ---------------------------------| */

.footer-site {
    background: #333333 none repeat scroll 0 0;
    color: #f6f6f6;
    font-weight: 400;
}

h1 {
    font-size: 16px;
}

h3, h5, .h5 {
    font-size: 13px;
}

.block-partner h3 {
    font-size: 13px;
    color: #fff;
    text-indent: 10px;
}

.block-partner .col-xs-12 {
    text-align: center;
}

.main-sidebar .widget-title, .main-title {
    background-color: #eb911f;
    border: medium none;
    color: #fff;
    font-weight: bold;
    letter-spacing: normal;
    margin-bottom: 1px;
    margin-top: 0;
    padding: 9px 15px;
    position: relative;
    text-transform: uppercase;
}

.main-sidebar .widget {
    margin-bottom: 10px;
}

.main-sidebar .rab_slider .flexslider {
    padding-bottom: 15px;
}

.main-page .entry-title {
    border-bottom: 2px solid #fc6346;
    color: #fc6346;
    font-size: 17px;
    padding-bottom: 7px;
    text-transform: uppercase;
    margin-top: 0;
}

.main-sidebar {
    padding-right: 0;
}

.main-page .entry-page {
    background-color: white;
    border: 0 solid #efefef;
    display: block;
    line-height: 23px;
    padding: 0;
    text-align: justify;
    width: 100%;
    min-height: 350px;
}

.title, .archive-title {
    border-bottom: 1px solid #ff6f00;
    color: #ff6f00;
    margin-top: 0;
    text-indent: 10px;
    padding: 7px 15px 7px 0;
    text-transform: uppercase;
}

.product-title {
    font-size: 14px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

.main-sidebar .widget_nav_menu {
    position: relative;
    top: 0;
    z-index: 9999;
    min-width: 260px;
    margin-bottom: 15px;
    margin-right: 0;
}

.col-left-product {
    margin-left: 0;
    padding-left: 0;
}

.col-right-product {
    margin-right: 0;
    padding-right: 0;
}

.col-center-product {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.item-product {
    padding-top: 0;
}

.form-group .col-sm-2 {
    text-align: right;
}

.form-group label.error {
    font-size: 12px;
    font-weight: normal;
    bottom: -11px;
    position: absolute;
    color: red;
    font-style: italic;
}

.item-product .post-thumbnail img {
    transition: all 2.75s cubic-bezier(0, 0.83, 0.17, 1) 0s;
    width: 100%;
}

.item-product img:hover {
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
    opacity: 1;
}


/*------------------------ */


/* Category Product menu */

ul, ol {
    margin: 0 0 1.5em 3em;
    padding: 0;
}

.block-menu-category ul {
    margin: auto;
}

@media (max-width: 1199px) {
    .block-menu-category .list-menu {
        display: none;
    }
}

.block-menu-category .title {
    font-size: 18px !important;
    border: medium none;
    text-transform: uppercase;
    padding: 13px 15px;
    font-weight: normal;
    color: #FFF !important;
    background-color: #5E90AF;
    letter-spacing: normal;
    position: relative;
}

.block-menu-category .title .fa {
    font-size: 16px;
    padding-right: 10px;
}

.block-menu-category .menu a, .block-menu-category .mcategory a {
    display: block;
    color: #3E474B;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    background: white;
}

.block-menu-category .menu a:before, .block-menu-category .mcategory a:before {
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: normal;
    color: #eb911f;
    padding: 0px 5px;
}

.block-menu-category .menu li, .block-menu-category .mcategory li {
    list-style: none;
    width: 100%;
    height: auto;
    position: static;
    border-bottom: 1px solid #EBEEF2;
    position: relative;
}

@media (min-width: 992px) {
    .block-menu-category .menu li:hover > a, .block-menu-category .mcategory li:hover > a {
        position: relative;
        z-index: 9999;
        background-color: white;
    }
    .block-menu-category .menu li:hover > a, .block-menu-category .mcategory li:hover > a, .block-menu-category .menu li:hover > a:before, .block-menu-category .mcategory li:hover > a:before {
        color: #FF6346 !important;
    }
    .block-menu-category .menu li:hover .sub-menu, .block-menu-category .mcategory li:hover .sub-menu {
        display: block;
    }
}

.block-menu-category .menu .sub-menu, .block-menu-category .mcategory .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 280px;
    z-index: 999;
    background: white;
    padding-top: 6px;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
    margin-left: -2px;
}

.block-menu-category .menu .sub-menu.active, .block-menu-category .mcategory .sub-menu.active {
    display: block;
}

@media (max-width: 480px) {
    .block-menu-category .menu .sub-menu, .block-menu-category .mcategory .sub-menu {
        position: static;
        box-shadow: none;
        border-left: 3px solid #E14938;
        margin-left: 10px;
        width: auto;
    }
}

@media (max-width: 1199px) {
    .block-menu-category .menu .sub-menu, .block-menu-category .mcategory .sub-menu {
        display: block;
        top: 0;
        left: 100%;
        width: 280px;
        z-index: 999;
        background: white;
        padding-top: 6px;
        box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
        margin-left: 0px;
        position: static;
        box-shadow: none;
        border-left: 3px solid #E14938;
        margin-left: 33px;
        width: auto;
    }
    .block-menu-category .menu .sub-menu.active, .block-menu-category .mcategory .sub-menu.active {
        display: block;
    }
}

#showLeft {
    display: none;
    border: medium none;
    background: none;
}

@media (max-width: 909px) {
    #showLeft {
        display: inline-block;
    }
    .home .block-menu-category {
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 9999;
        min-width: 260px;
        margin-bottom: 15px;
        margin-right: 0;
    }
}

.shapes {
    background-color: transparent;
    position: absolute;
    top: 50%;
    width: 0px;
    height: 0px;
}

.shapes.round {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #79A3BD;
    border: medium none #FF6346;
    top: 25%;
    right: 10px;
}

.shapes.bottom {
    border-top: 7px solid #FFF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 0px;
    top: 8px;
    right: 0px;
    margin: 0px auto;
}


/**
 * ENd category menu
 */

.page-numbers li {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 0;
}

.page-numbers li a, .page-numbers li span {
    padding: 3px 12px;
    display: block;
}

.pagination {
    display: block;
    clear: both;
}